img{
    max-width: 100%;
    max-height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}
.default-input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
}
.black-btn{
    padding: 1em;
    font-weight: bold;
    font-size: large;
    width: 10em;
    align-self: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: ease-in 0.3s;
}
.black-btn:hover{
    background-color: white;
    color: black;
}
.default-label{
    margin: 15px 0 5px 10px;
}